/* ==========================================================================
   2. General
   ========================================================================== */

html,
button,
input,
select,
textarea {
  font-family: _font(primary);
}

html {
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    border-width: 5px;
    font-size: 100%;
  }
}

body {
  color: _palette(primary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.66667;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: _palette(accent);
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

  &:hover {
    color: _palette(secondary);
    text-decoration: underline;
  }
}

.home-margin {
  position: relative;
  margin-top: 25vh;
  /* pousse le contenu en dessous de la hauteur de la slider */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(secondary);
  font-family: _font(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem 0 1rem;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.11111;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 1.875rem;
    letter-spacing: normal;
    line-height: 1.2;
  }
}

h2 {
  font-size: 1.66667rem;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
    letter-spacing: normal;
  }
}

h3 {
  font-size: 1.33333rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.25em;
  }
}

h4 {
  font-size: 1.11111rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.88889rem;
}

p {
  margin: 0 0 1.66667em;
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark {
  background: #fff7c5;
  padding: 0 3px;
}

ins {
  background: #fff7c5;
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: _palette(bg);
  border: 1px solid _palette(border);
  border-radius: 3px;
  font-family: Consolas, "Andale Mono", "Courier New", Courier, monospace;
  font-size: 0.88889rem;
  margin: 0 0 1.875em;
  overflow: auto;
  padding: 10px;
  white-space: pre;
}

:not(pre)>code {
  background: _palette(bg);
  border: 1px solid _palette(border);
  border-radius: 3px;
  font-family: Consolas, "Andale Mono", "Courier New", Courier, monospace;
  font-size: 0.88889rem;
  padding: 1px 3px;
  white-space: pre;
}

blockquote {
  border-left: 3px solid _palette(secondary);
  color: _palette(secondary);
  font-family: _font(secondary);
  font-style: italic;
  margin: 0 0 1.66667em -30px;
  padding: 0 0 0 30px;

  @media only screen and (max-width: 910px) {
    margin-left: 0;
    padding-left: 24px;
  }

  p {
    margin: 0 0 0.83333em;
  }

  small,
  cite {
    color: _palette(primary);
    display: inline-block;
    font-size: 0.88889em;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 24px;
}

li>ul,
li>ol {
  margin-bottom: 0;
}

hr {
  background: _palette(border);
  border: 0;
  height: 1px;
  margin: 2.5em 0;
}

table {
  border-bottom: 1px solid _palette(border);
  line-height: 1.33333;
  margin: 0 0 1.66667em;
  text-align: left;
  width: 100%;
}

caption {
  font-size: 0.88889em;
  margin-bottom: 0.9375em;
  text-align: left;
}

th,
td {
  border-top: 1px solid _palette(border);
  padding: 8px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

table tbody>tr:nth-child(odd) {
  background: _palette(bg);
}

img {
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe,
.image-card {
  margin: 0 0 1.66667em;
}

.image-card figcaption {
  color: _palette(meta);
  font-size: 0.77778rem;
  padding-top: 0.5em;
  text-align: left;
}

@media only screen and (min-width: 851px) {

  .width-full img,
  .width-wide img {
    max-width: none;
    width: calc(100vw - 90px);
  }
}

@media only screen and (min-width: 971px) {
  .width-wide img {
    width: 880px;
  }
}

/* Clearing floats */
.inner:after,
.site-header:after,
.site-footer:after {
  clear: both;
}

.inner:before,
.inner:after,
.post-content:before,
.post-content:after {
  content: "";
  display: table;
}

/* Text meant only for screen readers */
.screen-reader-text {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Text selection */
::-moz-selection {
  background: #e4edfa;
  color: _palette(secondary);
  text-shadow: none;
}

::selection {
  background: #e4edfa;
  color: _palette(secondary);
  text-shadow: none;
}

/* Buttons */
#menu-open,
#menu-close,
.back-to-top {
  background: 0;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-sizing: border-box;
  color: _palette(primary);
  padding: 0;
  position: relative;
  height: 36px;
  width: 36px;
  -webkit-transition: border-color .3s, color .3s;
  transition: border-color .3s, color .3s;

  &:hover,
  &:focus,
  &:active {
    border-color: _palette(accent);
    color: _palette(accent);
    outline: 0;
  }
}

/* Custom icons */
.icon-menu {
  background: currentColor;
  color: #f7f7f7f7;
  height: 2px;
  left: 50%;
  margin-left: -11px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 22px;

  &:before,
  &:after {
    background: currentColor;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:before {
    top: -5px;
  }

  &:after {
    bottom: -5px;
  }
}

.icon-close {
  background: 0;
  color: #2c343c;
  height: 2px;
  left: 50%;
  margin-left: -12px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 24px;

  &:before,
  &:after {
    background: currentColor;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

#ClubSection, #gallery, #evenements {

  .features-header {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 1rem;

    .features-subtitle {
      color: #007AFC;
      font-size: 1rem;
      font-weight: 500;
      z-index: 2;
      position: relative;
    }

    .features-title {
      font-size: 3rem;
      font-weight: 800;
      color: rgba(28, 28, 28, 1);
      z-index: 2;
      position: relative;
      margin: 0.5rem 0;
    }

    .features-background {
      font-size: 12rem;
      font-weight: 900;
      color: transparent;
      -webkit-text-stroke: 1px rgba(28, 28, 28, 0.11); // outline effet
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      z-index: 1;
      pointer-events: none;
      user-select: none;
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 2rem;


  .feature {
    display: block;
    flex: 1 1 calc(25% - 2rem);
    background: transparent;
    color: white;
    text-align: center;

    .feature-image {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // pour que l'image remplisse la zone sans déformation
        border-radius: 6px;
        display: block;
      }
    }

    .icon-circle {
      position: relative;
      bottom: -25px; // dépasse la moitié du carré sous l'image
      left: 10%; // décalé vers la gauche
      top: -40px;
      background: rgba(0, 123, 255, 1);
      border-radius: 50%; // plus de bords arrondis
      padding: 1rem;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // petit effet d'ombre (optionnel)

      i {
        font-size: 2rem;
        color: white;
      }
    }

    .feature-content {
      display: flex;
      flex-direction: column;
      align-items: start;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }

      p {
        font-size: 0.95rem;
        color: #6b747a;
        text-align: start;
      }
    }

    .feature-icon {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 971px) {
  .feature {
    flex: 1 1 auto !important;
  }
}


.gallery-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding: 20px;
  margin-top: 5rem;
}

.gallery-item {
  aspect-ratio: 1 / 1; /* carré */
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 0;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

@media (max-width: 999px) {
  .gallery-items {  grid-template-columns: auto;}
}
#evenements {

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

  .calendar-day {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    min-height: 100px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .calendar-day:hover {
    background: #f0f8ff;
  }

  .day-number {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  .event-preview {
    background-color: #f3f9ff;
    border-left: 3px solid #2d72d9;
    padding: 4px 6px;
    margin-bottom: 5px;
    font-size: 0.85rem;
    text-align: left;
    border-radius: 4px;
  }

  /* Modal */
  .event-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .event-modal.hidden {
    display: none;
  }

  .event-modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
    animation: fadeIn 0.3s ease;
  }

  .event-box {
    margin-top: 1rem;
    padding: 1rem;
    background: #f5faff;
    border-radius: 8px;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }


}

