/* ==========================================================================
   3. Structure
   ========================================================================== */

.inner {
  margin: 0 auto;
  max-width: 760px;
}

.inner-home {
  margin: 0 auto;
  max-width: 85%;
}