/* ==========================================================================
   3. Structure
   ========================================================================== */

.inner {
  margin: 0 auto;
  max-width: 80%;
}

.inner-home {
  margin: 0 auto;
  max-width: 80%;
}