<div class="slider {% if page.home %} slider-home {% endif %} {% if post.published %} slider-post {% endif %}" >
    <img src="/images/terrain1.jpg" class="active">
    <img src="/images/terrain2.jpg">
  </div>
  
  <script>
    // Slider Transition Script
    const slides = document.querySelectorAll('.slider img');
    let currentSlide = 0;
  
    setInterval(() => {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % slides.length;
      slides[currentSlide].classList.add('active');
    }, 10000);
  </script>
  